@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html {
    background-image: linear-gradient(#615dad, #fc8daf);
    height: 100%;
}

h1 {
    font-family: 'Lobster';
    font-size: 55px;
    color: #ffffff;
    text-align: center;
}
p {
    color: #ffffff;
    font-family: Verdana;
}
.button1 {
    text-align: center;
    font-family: Verdana;
    border: none;
    font-size: 20px;
    padding: 10px 5px;
    background-color: #1fcca4;
    text-decoration: none;
}

.button2 {
    text-align: center;
    font-family: Verdana;
    border: none;
    font-size: 20px;
    padding: 10px 5px;
    background-color: #0197f6;
    text-decoration: none;
}